beautifulsoup4==4.9.3
bs4==0.0.1
cachetools==4.1.1
camelot-py==0.8.2
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
click==7.1.2
cryptography==3.3.2
et-xmlfile==1.0.1
google-api-core==1.23.0
google-api-python-client==1.12.5
google-auth==1.23.0
google-auth-httplib2==0.0.4
google-auth-oauthlib==0.4.2
googleapis-common-protos==1.52.0
httplib2==0.18.1
idna==2.10
jdcal==1.4.1
numpy==1.19.4
oauthlib==3.1.0
opencv-python==4.4.0.46
openpyxl==3.0.5
pandas==1.1.4
pdfminer.six==20201018
protobuf==3.13.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
PyPDF2==1.26.0
python-dateutil==2.8.1
pytz==2020.4
requests==2.24.0
requests-oauthlib==1.3.0
rsa==4.6
six==1.15.0
sortedcontainers==2.2.2
soupsieve==2.0.1
tqdm==4.51.0
uritemplate==3.0.1
urllib3==1.25.11
